* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border: none;
  outline: none;

  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #2d2b55;

  word-wrap: break-word;
}

/* Command Input Field */

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  text-align: center;
}

.input {
  width: 300px;
  height: 50px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background-color: #222244;

  padding: 10px;
  float: left;
}

.wrapper button {
  background-color: #222244;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wrapper button img {
  width: 35px;
  padding: 4px;
  float: right;
}

.move {
  animation: topleft 1s ease-in forwards;
}
@keyframes topleft {
  100% {
    top: 70px;
    left: 200px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.con {
  position: absolute;
  top: 40px;
  right: 39px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    top: 100px;
  }
  .con {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .move {
    animation: 0;
  }
}
